# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
env/
*.egg-info/
*.egg
dist/
build/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# PowerShell
*.ps1~

# SSH Keys
*.pub
id_ed25519
id_ed25519.pub
id_rsa
id_rsa.pub
